/* ibm-plex-sans-latin-400-normal */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/ibm-plex-sans@latest/latin-400-normal.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ibm-plex-sans-latin-500-normal */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/ibm-plex-sans@latest/latin-500-normal.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ibm-plex-sans-latin-700-normal */
@font-face {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/ibm-plex-sans@latest/latin-700-normal.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
* {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffefe7;
  font-family: "IBM Plex Sans", sans-serif;
}

.header__section {
  width: 100%;
  min-width: 320px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header__section .header__logo {
  font-weight: 400;
  font-size: 2rem;
  color: #7c6a0a;
}
.header__section .button__link {
  background: none;
  border: none;
  padding-top: 3.5px;
  cursor: pointer;
}
.header__section .button__link svg {
  width: 30px;
  height: 30px;
  stroke: #7c6a0a;
}
.header__section .links__container--desktop {
  display: none;
}

main {
  width: 100%;
  min-width: 320px;
  height: auto;
}
main .main__header-info {
  width: 86%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
}
main .main__header-info .main__header-info--text {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-top: 14px;
}
main .main__header-info .main__header-info--text h1 {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2.4rem;
  color: #7c6a0a;
  padding-left: 2px;
}
main .main__header-info .main__header-info--text p {
  font-size: 1.4rem;
  font-weight: 400;
  color: #7c6a0a;
  text-wrap: pretty;
}
main .main__header-info .main__header-info--text button {
  width: -moz-fit-content;
  width: fit-content;
  height: 42px;
  margin-inline: auto;
  padding-inline: 40px;
  background-color: #fa9500;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  vertical-align: middle;
}
main .main__header-info .main__header-info--img {
  order: -1;
  padding-top: 4px;
}
main .main__header-info .main__header-info--img img {
  width: 100%;
  height: auto;
  aspect-ratio: 275/343;
}
main .main__products {
  width: 90%;
  margin-inline: auto;
  padding-top: 52px;
}
main .main__products section h2 {
  font-size: 2.4rem;
  font-weight: 300;
  color: #7c6a0a;
}
main .main__products section .cart-container {
  padding-top: 32px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 28px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  scrollbar-width: thin;
  scrollbar-color: #ffdac6 #ffefe7;
}
main .main__products section .cart-container article {
  position: relative;
  scroll-snap-align: center;
  min-width: 200px;
  min-height: 344px;
  padding: 42px 24px 34px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: #ffdac6;
  border-radius: 8px;
}
main .main__products section .cart-container article svg {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 6px;
  right: 6px;
}
main .main__products section .cart-container article img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
main .main__products section .cart-container article h3 {
  font-size: 1.6rem;
  color: #7c6a0a;
}
main .main__products section .cart-container article p {
  font-size: 1.2rem;
  color: #7c6a0a;
  text-wrap: pretty;
}
main .main__more-info {
  display: none;
}

footer {
  background-color: #fa9500;
  width: 100%;
  height: 462px;
  display: none;
}

@media (min-width: 560px) {
  .header__section {
    padding: 0 40px;
  }
  .header__section .header__logo {
    font-size: 2.4rem;
  }
  .header__section .links__container--mobile {
    display: none;
  }
  .header__section .links__container--desktop {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  main .main__header-info {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
  }
  main .main__header-info .main__header-info--text {
    width: 60%;
    gap: 26px;
    padding: 0;
    justify-content: center;
  }
  main .main__header-info .main__header-info--text h1 {
    font-size: 2.6rem;
    padding: 0;
  }
  main .main__header-info .main__header-info--text p {
    width: 80%;
  }
  main .main__header-info .main__header-info--text button {
    margin: 0;
    margin-top: 10px;
  }
  main .main__header-info .main__header-info--img {
    width: 40%;
    order: 1;
    padding-top: 0;
  }
}
@media (min-width: 768px) {
  .header__section {
    padding: 0 70px;
  }
  .header__section .links__container svg {
    width: 34px;
    height: 34px;
  }
  main .main__header-info {
    display: flex;
    justify-content: space-between;
  }
  main .main__header-info .main__header-info--text {
    justify-content: flex-start;
    padding-top: 34px;
  }
  main .main__header-info .main__header-info--text h1 {
    font-size: 3.4rem;
  }
  main .main__header-info .main__header-info--text p {
    font-size: 2rem;
  }
  main .main__header-info .main__header-info--img {
    width: 360px;
  }
  main .main__products section h2 {
    font-size: 3rem;
  }
  main .main__products section .cart-container article {
    min-width: 300px;
    min-height: 400px;
    padding: 48px 24px 34px;
  }
  main .main__products section .cart-container article svg {
    width: 34px;
    height: 34px;
  }
  main .main__products section .cart-container article h3 {
    font-size: 2rem;
  }
  main .main__products section .cart-container article p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1274px) {
  main .main__header-info .main__header-info--text h1 {
    font-size: 4rem;
  }
  main .main__header-info .main__header-info--text p {
    font-size: 2rem;
  }
  main .main__header-info .main__header-info--img {
    width: 360px;
  }
  main .main__products section h2 {
    font-size: 3rem;
  }
  main .main__products section .cart-container {
    padding-bottom: 32px;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 55px;
  }
  main .main__products section article {
    max-width: 300px;
    min-height: 400px;
    padding: 48px 24px 34px;
  }
  main .main__products section article svg {
    width: 34px;
    height: 34px;
  }
}/*# sourceMappingURL=main.css.map */